@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
* {
    font-family: 'Noto Sans TC';
}

.container1 {
    /* background: url(../image/taxidark.jpg);
    background-size: 100%;
    background-repeat: no-repeat; */
}

.toolTip {
    position: absolute;
    display: none;
    min-width: 80px;
    height: auto;
    background: none repeat scroll 0 0 #ffffff;
    border: 1px solid #6F257F;
    padding: 14px;
    text-align: center;
}

.btnModes {
    margin-top: 60%;
    margin-left: 1px;
}

.mainText {
    margin-top: 30%;
}